# Archivos de la herramienta Dart.
.dart_tool/
.packages

# Archivos generados por Pub.
.pub-cache/
.pub/
build/
coverage/

# Archivos generados por Flutter (Plugins)
.flutter-plugins
.flutter-plugins-dependencies

# Archivos de Símbolos y Ofuscación
app.*.symbols
app.*.map.json

# --- REGLAS DE PLATAFORMA (LO MÁS IMPORTANTE) ---

# Ignorar archivos generados de iOS
/ios/Flutter/Generated*.xcconfig
/ios/Flutter/Generated.xcconfig
/ios/Flutter/GeneratedPluginRegistrant.*

# Ignorar archivos generados de Android
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# Ignorar archivos generados de Linux
/linux/flutter/generated_*.h
/linux/flutter/generated_*.cc
/linux/flutter/generated_plugins.cmake

# Ignorar archivos generados de macOS
/macos/Flutter/Generated*.swift

# Ignorar archivos generados de Windows
/windows/flutter/generated_*.h
/windows/flutter/generated_*.cc
/windows/flutter/generated_plugins.cmake

# --- IGNORAR TU SCRIPT PERSONAL ---
actualizar_git.bat

# Reglas de IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/